pipeline/HW3stringarray.json
{
	"name": "HW3stringarray",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Marks",
					"value": {
						"value": "@int(150)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Temp",
					"value": {
						"value": "@variables('Marks')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Marks": {
				"type": "Array",
				"defaultValue": [
					80,
					90,
					20,
					30
				]
			},
			"Temp": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-07-30T05:59:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}