pipeline/Hwdataenginvariable1.json
{
	"name": "Hwdataenginvariable1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "V3",
					"value": "Azure"
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "V2",
					"value": "Engg"
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable4",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Course",
					"value": {
						"value": "@concat(variables('V3'),variables('V2'),variables('V1'))\r\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "V1",
					"value": "Data"
				}
			}
		],
		"variables": {
			"V3": {
				"type": "String"
			},
			"V2": {
				"type": "String"
			},
			"V1": {
				"type": "String"
			},
			"Course": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-07-30T04:53:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}