pipeline/Incremental-Pipeline.json
{
	"name": "Incremental-Pipeline",
	"properties": {
		"activities": [
			{
				"name": "watermarkdatetime fetching",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select watermarkdatetime from jul24e.watermarktable\nwhere tablename = 'Products'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Incrementalwatermarkdate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "watermarkdatetime fetching",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "onprem max modified datetime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from Products where ModifiedDate > ''', activity('watermarkdatetime fetching').output.firstRow.watermarkdatetime, \n\n''' and ModifiedDate < = ''',activity('onprem max modified datetime').output.firstRow.max_modified,\n\n'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "Truncate table jul24e.stg_Products",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Incremental_onprem",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Incrementa_SQL_SINK",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "onprem max modified datetime",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select max(ModifiedDate) as max_modified from products",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Incremental_onprem_max_modified_date",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Update watermark date time",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Azuresqlserver",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('update jul24e.watermarktable set watermarkDateTime = ''', activity('onprem max modified datetime').output.firstRow.max_modified, ''' where tablename =''', 'Products', '''')\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-08-14T18:45:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}